@font-face{
    font-family: 'Sans';
    src: url(./fonts/SansSerif.ttf)
}
@font-face{
    font-family: 'SansLight';
    src: url(./fonts/SansSerifLIght.otf)
}
h3{
    margin: 0;
    padding: 0;
    font-size: 28px;
}
body {
    height: 100vh;
    background-color: #f1f1f1;
    overflow: hidden;
    font-family: 'Sans' ; 
}
#root{
    height: 100vh;
  
}
.topMenuBox{
    display: flex;
    height:6vh;
    background-color: #f1f1f1;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #46ccac;
    overflow: hidden;
    
}
.titleBox{
    width: 20vw;
    height: 100%;
    background-color: #46ccac;
    color: #ffffff;
    line-height: 2vh;
    text-align: center;
    transform: skew(-30deg);
    border-bottom: 1px solid #46ccac;
    box-shadow: -30px 0px 0 0px #46ccac;
}

.title{
    transform: skew(30deg);
}

.mainMenuButtonBox{
    display: flex;
    font-size: 1.2em;
    margin-left: 10px;
}

.templateBox {
    transform: skew(-30deg);
    
}
.templateBox:not(.activeButton):hover {
    color:#46ccac;
}

.activeButton{
    background-color: #46ccac;
    color: white;
}

.topMenuButton{
    width: 9vw;
    text-align:center;
    cursor: pointer;
}

.buttons{
    transform: skew(30deg);
}

.contentFrame{
    position: relative;
    height: 84%;
}

.contentBox{
    height: 100%;
    position: absolute;
    width: 100%;
}
.boxForChoise{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    height: 30vh;
    width: 25vw;
    background-color: #ffffff;
    box-shadow: 0 0 10px #a7a7a7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    
 
}
.choiseForm{
    margin-left: 10%;
    
}
.choiseForm input, label{
    cursor: pointer;
    
}
.listBox{
    display: flex;
    justify-content: center;
    width: 100%;
}
.list{
    padding-left: 10px;
    border-left: 1px solid #a7a7a7;
}
.listTitle{
    margin-right: 10px;
    text-align: center;
    color: #46ccac;
    text-decoration: none; 
    border-bottom: 1px dashed #46ccac;
    cursor: pointer;
}
.nextButton{
    height: 40px;
    width: 100px;
    background-color: #46ccac;
    text-align: center;
    line-height: 1.5em;
    color: #ffffff;
    font-size: 18pt;
    border-radius: 5px;
    margin-left: 10%;
    cursor: pointer;
}

.boxForTypeForm{
    background-color: #ffffff;
    box-shadow: 0 0 10px #a7a7a7;
    position: absolute;
    width: 68%;
    height: 90%;
    top: 5%;
    overflow:hidden;
    left: 4%;
    display: none;
    
}
.boxTitleForm{
    position: relative;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 100;
    border-bottom: 1px solid #a7a7a7;
}

.formTitle{
    position: relative;
    margin-top: 10px; 
    font-size: 36px;
    font-family: 'SansLight';
    margin-left: 50px;
}

.formButtons{
    height: 100%;
    position: relative;
    margin-left: 10px;
    display: flex;
    width: 66.2%;
    justify-content: space-between;
    margin-left: 50px;
    font-size: 16px;
    align-items: flex-end;
    
}

.boxControllForm{
    position: relative;
    height: 15%;
    border-top: 1px solid#a7a7a7;
}
.boxForForm{
    position: relative;
    height: 70%;
    display: flex;
    justify-content: center;
}
.personalDateContentBox{
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    display: none;
}

.personalDateContentForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
}

.personalDateContentTitle{
    margin-bottom: 10px;
}
.formfields{
    width: 90%;
    display: flex;
    height: 50px;
    align-items: flex-start;
}
.descriptionFields{
    width: 20em;
}
.userSourceBox{
    
    height: 10em;
}
.userSourceInput{
    display: block;
    resize: none;
    width: 250px;
    height: 90%;
    margin-right: 10px;
    border: 1px solid #a7a7a7;
    
}
.userSourceSoluthion{
    width: 15%;
}
.userAdressInput{
    margin-right: 10px;
}
.formfields input {
    height: 20px;
    border: 1px solid #a7a7a7;
    padding: 0;
    width: 250px;
}

.userBirthdayCalendar{
    margin-left: 10px;
    height: 21px;
    width: 20px;
    background-image: url(./images/clndr-1.png);
}

.userTelInput{
    
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: center;
     
}
.alertMesage{
    color: red;
    margin-left: 20em;
}
/*------------------------------------*/
.creditCardContentBox{
    height: 100%;
    width: 90%;
    display: flex;
    
    display: none;

}
.creditCardContentForm{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    align-items: flex-start;
}

.cardDescr{
    width: 20em;
}
.codeInput{
    margin-right: 10px;
}
/*-----------------------------------*/
.resultContentBox{
    background-color: #feee85;
    width: 90%;
    display: none;
}

/* ------------------------------ */

.buttonControl{
    width: 33%;
    text-align: center;
}

.active{
    border-bottom: 4px solid #46ccac;
    color: #46ccac;
}
.nextButonForm{
    height: 50px;
    width: 100px;
    position: absolute;
    background-color: #46ccac;
    top: 50%;
    left: 60%;
    text-align: center;
    font-size: 20px;
    line-height: 2em;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transform: translate(0, -30%);
}
.prevButtonForm{
    width: 250px;
    height: 20px;
    color: #46ccac;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 50%;
    left: 30%;
    cursor: pointer;
    display: none;
    
}
.textBack{
    border-bottom: 1px solid #46ccac;
}
.prevButtonForm:hover{
    color: red;
}
.prevButtonForm:hover .textBack{
    border-bottom: 1px solid red;
}

.backArrow{
    height: 10px;
    width: 15px;
    margin-right: 5px;
    background-image: url(./images/arrow-2.png);
    background-repeat: no-repeat;
}

/*--------------------------------*/
.chatBox {
    position: absolute;
    width: 24%;
    top: 5%;
    height: 90%;
    left: 74%;
    background-color: #ffffff;
    box-shadow: 0 0 10px #a7a7a7; 
    display: none;
}

.chatBoxHead{
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'SansLight';
    font-size: 24px;
    
}

.supportImg{
    width: 50px;
    height: 50px;
    background-image: url(./images/joconda.jpg);
    margin-left: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 50%;
}

.supportDescription{
    height: 24px;
    margin-left: 10px;
}

.greenPoint{
    height: 10px;
    width: 10px;
    background-color: #87c670;
    margin-left: 10px;
    border: 1px solid #87c670;
    border-radius: 50%;
}
.chatBoxMessageFieldBox{
    height: 70%;
    
    overflow-y: auto;
}
.chatBoxMessageField{
    min-height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
       
}
.annasMessageBox{
    width: 100%;
    display: flex;
}
.annasMessagePic{
    width: 50px;
    height: 50px;
    background-image: url(./images/joconda.jpg);
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 50%;
}
.annasMessageText{
    width: calc(100% - 85px);
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px;
    text-align: justify;
}
.usersMessageBox{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 10px;
}
.usersMessageText{
    width: 80%;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #cef9f0;
    word-break: break-all;
   
}
.chatBoxFooter{
    bottom: 0;
    border-top: 1px solid #c4c2c2; 
    position: relative;
    height: 15%;
    
}
.inputMessage{
    display: block;
    position: relative;
    margin-top: 1%;
    height: 80%;
    width: 75%;
    border: none;
    outline: none;
    resize: none;
}

.messageSubmit{
    position: absolute;
    top: 50%;
    left: 82%;
    height: 50px;
    width: 50px;
    background-color: #feee85;
    background-image: url(./images/arrow-1.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

/**/


.footerBox{
    width: 100%;
    height: 6vh;
    color: #a7a7a7;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #a7a7a7;
    align-items: center;
}

.footerMenuBox{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}
.footerMenuBox .templateBox{
    transform: skew(0deg);
    background: none;
}


